* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.conteiner-1 {
    max-width: 1284px;
    margin: 0 auto;
}

body {
    background-color: #202020;
}

.ul-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ul-1 a {
    color: #FFFFFF;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
}

.ul-1 a:hover {
    color: #FF6A3A;
}

.nav-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.img-1 {
    margin-top: 40px;
}


.ota-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.box {
    font-family: "Syne", sans-serif;
    color: #202020;
    width: 631px;
    height: 360px;
    background-color: #F8BC5C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

.box2 {
    font-family: "Syne", sans-serif;
    color: #202020;
    width: 631px;
    height: 360px;
    background-color: #FF6A3A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
}

h2 {
    margin-top: 10px;
    font-size: 54px;
    font-weight: 600;
}

.ul-2 a {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 700;
}

.ul-2 a:hover {
    color: #FF6A3A;
}

.ul-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.ul-2 img {
    margin-right: 10px;
}

.nav-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 104px;
}

i {
    font-size: 28px;
}
.icon{
    display: flex;
    gap: 30px;
}
h3 {
    color: #989EA4;
    font-weight: 400;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
